* {
    box-sizing: border-box;
}

body {
    margin: 100px auto;
    max-inline-size: 1440px;
    min-inline-size: 375px;
    padding: 0;
    background-color: hsl(30, 54%, 90%);
    font-size: 16px;
    font-family: 'Outfit', sans-serif;
    color: hsl(30, 10%, 34%);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Young Serif', serif;
    font-weight: 400;
    color: hsl(14, 45%, 36%);
}